{% extends "analyze/layout.html" %}

{% block body %}
	<div class="main">
    <h1>Trends in food consumption and symptoms</h1>
    <!--data which is acquired from backend and will be passed to script to populate charts-->
    {{ sym_data|json_script:"sym-data" }}
    {{ food_data|json_script:"food-data" }}

		<div class="charts-section">
			<div class="chart-container">
				<canvas id="foodsChart"></canvas>
			</div>
			<div class="chart-container">
				<canvas id="symptomsChart"></canvas>
			</div>
		</div>
	</div>

{% endblock %}
