.navbar {
    padding: 10px 200px 10px 200px;
}

.hero {
    padding: 100px 100px 20px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero ol {
    margin-top: 50px;
}

